<div class="card">
  <div class="card-header pb-0">
    <div class="row">
      <div class="col-lg-6 col-7">
        <h6>Список задач</h6>
        <p class="text-sm mb-0">
          <i class="fa fa-check text-info" aria-hidden="true"></i>
          <span class="font-weight-bold ms-1">30 done</span> this month
        </p>
      </div>
      <div class="col-lg-6 col-5 my-auto text-end">
        <div class="dropdown float-lg-end pe-4">
          <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-ellipsis-v text-secondary"></i>
          </a>
          <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
            <li><a class="dropdown-item border-radius-md" href="javascript:;">Action</a></li>
            <li><a class="dropdown-item border-radius-md" href="javascript:;">Another action</a></li>
            <li><a class="dropdown-item border-radius-md" href="javascript:;">Something else here</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body px-0 pb-2">
    <div class="table-responsive">
      <table class="table align-items-center mb-0">
        <thead>
        <tr>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">#</th>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Название</th>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Категории</th>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Приоритет</th>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Дата</th>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Статус</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let task of tasks; let i = index">
          <td class="align-middle text-center text-sm">
            <span class="text-xs font-weight-bold">{{i+1}}</span>
          </td>
          <td class="align-middle text-center text-sm">
            <span class="text-xs font-weight-bold">{{task.title}}</span>
          </td>
          <td class="align-middle text-center text-sm">
            <span class="text-xs font-weight-bold">{{task.category ? task.category.title : "Без категории"}}</span>
          </td>
          <td class="align-middle text-center text-sm">
            <span class="text-xs font-weight-bold">{{task.priority ? task.priority.title : "Без приоритета"}}</span>
          </td>
          <td class="align-middle text-center text-sm">
            <span class="text-xs font-weight-bold">{{task.date ? (task.date | date :'medium') : "Без даты"}}</span>
          </td>
          <td class="align-middle text-center text-sm">
            <div class="form-check form-check-info ps-0"><input class="form-check-input" type="checkbox" value="" [checked]="task.completed"></div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
